* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #ebf1eb;
}

body .container #header {
  padding: 5px 2%;
  background-color: #87c925;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container #header h1 {
  font-size: 20px;
  color: #042c04;
}

body .container #header i#menu {
  margin-right: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .container #header i#menu:hover {
  color: whitesmoke;
}

body .container #header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}

body .container #header nav a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  position: relative;
}

body .container #header nav a img {
  width: 30px;
  height: 30px;
}

body .container #header nav a i {
  color: black;
  font-size: 25px;
}

body .container #header nav a i:hover {
  color: whitesmoke;
}

body .container #header nav a #notification {
  color: red;
  position: absolute;
  top: 0px;
  right: 3px;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 22px;
  height: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: bolder;
}

@media screen and (min-width: 780px) {
  body .container body .container header {
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  body .container body .container header i#menu {
    display: none;
  }
}

body .container .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  font-size: 20px;
  position: relative;
}

body .container .wrapper .sidebar {
  padding: 10px 5%;
  height: 100vh;
  width: 300px;
  background-color: #3b580f;
  position: absolute;
  left: -300px;
  z-index: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body .container .wrapper .sidebar .admin_info {
  text-align: center;
  border: 1px solid #87c925;
  -webkit-box-shadow: 5px 5px 5px #87c925;
          box-shadow: 5px 5px 5px #87c925;
  padding: 20px 0;
  background-color: white;
  border-radius: 5px;
}

body .container .wrapper .sidebar .admin_info img {
  width: 100px;
  height: 100px;
}

body .container .wrapper .sidebar .admin_info p {
  color: #3b580f;
  font-weight: bold;
}

body .container .wrapper .sidebar .admin_info p:last-child {
  font-size: 15px;
}

body .container .wrapper .sidebar_menu {
  margin-top: 30px;
  padding: 10px 0;
}

body .container .wrapper .sidebar_menu ul {
  width: 100%;
  list-style: none;
}

body .container .wrapper .sidebar_menu ul li {
  border: 1px solid transparent;
}

body .container .wrapper .sidebar_menu ul li a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

body .container .wrapper .sidebar_menu ul li a i {
  padding-right: 15px;
}

body .container .wrapper .sidebar_menu ul li:hover, body .container .wrapper .sidebar_menu ul li.active {
  border: 1px solid #87c925;
}

@media screen and (min-width: 780px) {
  body .container .wrapper .sidebar {
    position: fixed;
    left: 0;
    width: 30%;
    padding: 20px;
    z-index: 0;
  }
}

body .container .wrapper .main_board .intro {
  background-color: #9e9d9d;
  padding: 30px 0;
}

body .container .wrapper .main_board .intro_lead {
  width: 80%;
  margin: 0 auto;
  background-color: #3b580f;
  text-align: center;
  padding: 40px 0;
  color: white;
  border-radius: 5px;
}

body .container .wrapper .main_board .intro_lead h1 {
  font-size: 25px;
  margin: 10px 0;
}

body .container .wrapper .main_board .intro_lead p {
  font-size: 18px;
}

body .container .wrapper .main_board .cards {
  padding: 20px;
}

body .container .wrapper .main_board .cards_body {
  border: 2px solid #3b580f;
  max-width: 400px;
  height: 180px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
  color: #3b580f;
  font-size: 25px;
}

body .container .wrapper .main_board .cards_body i {
  color: #87c925;
  font-size: 25px;
  color: black;
  position: absolute;
  top: -20px;
  left: -20px;
  background-color: #073b07;
  border-radius: 50%;
  color: #87c925;
  width: 60px;
  height: 60px;
  padding: 25px 0 0 15px;
}

body .container .wrapper .main_board .cards_body i:hover {
  color: whitesmoke;
  background-color: #87c925;
}

body .container .wrapper .main_board .cards_body span {
  font-weight: bold;
}

body .container .wrapper .main_board .cards_body p {
  border-top: 1px solid #87c925;
  width: 70%;
  padding-top: 20px;
  margin-top: 20px;
}

body .container .wrapper .main_board .cards_body:hover {
  border-color: #87c925;
  -webkit-box-shadow: 2px 2px 5px #87c925;
          box-shadow: 2px 2px 5px #87c925;
}

@media screen and (min-width: 780px) {
  body .container header {
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  body .container header i#menu {
    display: none;
  }
  body .container .wrapper {
    padding-top: 60px;
    display: -ms-grid;
    display: grid;
  }
  body .container .wrapper .sidebar {
    position: fixed;
    left: 0;
    width: 25%;
    padding: 20px;
    z-index: 0;
  }
  body .container .wrapper .main_board {
    padding: 20px 30px 20px 27%;
  }
  body .container .wrapper .main_board .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  body .container .wrapper .main_board .cards_body {
    width: 95%;
  }
}

form {
  margin: 50px 0;
  padding: 0 30px;
}

form h3 {
  text-align: center;
  padding: 10px 0;
  color: #87c925;
}

form .form-group {
  margin: 20px auto;
  width: 80%;
}

form .form-group label {
  display: block;
  font-size: 18px;
  color: #3b580f;
  font-weight: bold;
  margin-bottom: 5px;
}

form .form-group input {
  width: 100%;
  font-size: 15px;
  padding: 10px 20px;
  border: 1px solid #87c925;
  border-radius: 5px;
}

form .form-group input[type="radio"] {
  width: auto;
  margin-right: 20px;
}

form .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .picture img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

form .picture i {
  color: #3b580f;
  cursor: pointer;
}

form .picture i:hover {
  color: #87c925;
}

form .picture #admin_pix {
  width: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

form button {
  display: block;
  margin: 0 auto;
  background-color: #87c925;
  color: #3b580f;
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid #87c925;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

form button:hover {
  background-color: transparent;
}

li:hover, .setting-menu {
  border: 1px solid #87c925;
  padding-left: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 2px 2px 5px #87c925;
          box-shadow: 2px 2px 5px #87c925;
}

li:hover a, .setting-menu a {
  color: #87c925 !important;
}
/*# sourceMappingURL=setting.css.map */