@import './dasboard-all';

form{
    margin: 50px 0;
    padding: 0 30px;
    h3{
        text-align: center;
        padding: 10px 0;
        color: $brand_color;
    }
    .form-group{
        margin: 20px auto;
        width: 80%;
        label{
            display: block;
            font-size: 18px;
            color: $bg_color;
            font-weight: bold;
            margin-bottom: 5px;
        }
        input{
            width: 100%;
            font-size: 15px;
            padding: 10px 20px;
            border: 1px solid $brand_color;
            border-radius: 5px;
        }
    }

    button{
        display: block;
        margin: 0 auto;
        background-color: $brand_color;
        color: $bg_color;
        font-size: 18px;
        padding: 10px 20px;
        border: 1px solid $brand_color;
        border-radius: 5px;
        cursor: pointer;
        transition: all .5s;
    }
    button:hover{
        background-color: transparent;
    }
}
li:hover, .change-password-menu {
    border: 1px solid $brand_color;
    padding-left: 20px;
    transition: all 0.5s;
    box-shadow: 2px 2px 5px $brand_color;

    a {
        color: $brand_color !important;
    }
  }