@import './dasboard-all';
@import './dashboard-table';

li:hover, .students-menu {
  border: 1px solid $brand_color;
  padding-left: 20px;
  transition: all 0.5s;
  box-shadow: 2px 2px 5px $brand_color;

  a {
    color: $brand_color !important;
  }
}