.sidebar {
    padding: 10px 5%;
    height: 100vh;
    width: 300px;
    background-color: $bg_color;
    position: absolute;
    left: -300px;
    z-index: 1;
    transition: all .5s;

    .admin_info {
      text-align: center;
      border: 1px solid $brand_color;
      box-shadow: 5px 5px 5px $brand_color;
      padding: 20px 0;
      background-color: white;
      border-radius: 5px;
      img {
        width: 100px;
        height: 100px;
      }
      p{
        color: $bg_color;
        font-weight: bold;
      }
      p:last-child{
        font-size: 15px;
      }
    }
    &_menu {
      margin-top: 30px;
      padding: 10px 0;
      ul {
        width: 100%;
        list-style: none;

        li {
          border: 1px solid transparent;
          a {
            color: white;
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px;
            i {
              padding-right: 15px;
            }
          }
        }
        li:hover, li.active{
          border: 1px solid $brand_color
        }
      }
    }
  }

@media screen and (min-width: 780px) {
  .sidebar {
    position: fixed;
    left: 0;
    width: 30%;
    padding: 20px;
    z-index: 0;
  }
}
